ftp:
  user_login: gponlogin
  user_password: gponpass
xml:
  admin_password: adminpass
  user_password: userpass
  telnet_admin_password: telnetadminpass
database:
  host: localhost
  username: root
  password:
  dbname: wlan_sys